a:focus {
  outline: none;
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: var(--main-bg-color);
  flex-direction: column;
}

.title {
  font-weight: 300;
  font-size: 2.6em;
  margin: 0;
  text-align: center;
}

.sub-title {
  margin: 0;
  font-size: 1em;
  font-weight: 200;
}

.email-text {
  cursor: pointer;
}

/* START DROPDOWN */
.click-away-listener {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.menu-root {
  position: relative;
  display: block;
  z-index: 99999;
}

.menu {
  position: absolute;
  width: 100%;
  background: var(--primary-color);
  transition: transform 0.1s ease, opacity 0.1s ease;
  color: var(--dark-text-color);
  opacity: 0;
  overflow: hidden;
  transform: scale(0);
  transform-origin: top center;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

body.dark .menu {
  color: var(--light-text-color);
}

.menu.open {
  transform: scale(1);
  opacity: 1;
}
/* END DROPDOWN */

/* BUTTON ICON */
body .btn .btn__icon {
  width: 24px;
  height: 24px;
  margin-right: 0.2rem;
  fill: var(--dark-text-color);
}

body.dark .btn .btn__icon {
  fill: var(--light-text-color);
}
/* END BUTTON ICON */

/* START BUTTON */
body .btn {
  text-align: center;
  text-decoration: none;
  display: flex;
  background: none;
  color: var(--dark-text-color);
  border-radius: var(--border-radius);
  padding: 0.75rem 0.75rem;
  outline: none;
  border: none;
  user-select: none;
  align-items: center;
  transition: background 0.1s ease;
}

body .btn:not(.btn--disabled) {
  cursor: pointer;
}

body .btn.btn--disabled {
  opacity: 0.2;
}

body.dark .btn {
  color: var(--light-text-color);
}

body .btn:not(.no-animation):not(.btn--disabled):active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  transform: scale(0.97);
}
/* END BUTTON */

/* START PRIMARY BUTTON */
body .btn.btn--primary {
  background: var(--primary-color);
  color: var(--light-text-color);
}

body .btn.btn--primary:not(.btn--disabled):hover {
  background: var(--primary-color-dark);
}

body.dark .btn.btn--primary {
  color: var(--dark-text-color);
}

/* END PRIMARY BUTTON */

/* START BUTTON SECONDARY */
body .btn.btn--secondary {
  background: var(--secondary-color);
  color: var(--dark-text-color);
}

body .btn.btn--secondary:hover {
  background: var(--secondary-color-dark);
}

body.dark .btn.btn--secondary {
  color: var(--dark-text-color);
}
/* END BUTTON SECONDARY */

/* START ICON BUTTON */
body .icon-btn {
  text-decoration: none;
  fill: var(--primary-color);
  transition: fill 0.1s ease;
}

body .icon-btn:hover {
  fill: var(--primary-color-dark);
}

body .icon-btn svg {
  width: 42px;
  height: 42px;
  fill: inherit;
}

body.dark .icon-btn svg {
  width: 42px;
  height: 42px;
}
/* END ICON BUTTON */

.social-media-box {
  width: 100%;
  justify-content: center;
  display: flex;
}

.resume-box {
  display: none;
}

.social-media-box > * {
  margin: 0 1rem;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex: 1 0 0;
  position: relative;
}

.toolbar {
  display: flex;
  width: 100%;
  align-items: center;
}

.container {
  padding: 32px;
}

/* Styles for sm devices */
@media only screen and (min-width: 576px) {
  .resume-box {
    position: initial;
    display: flex;
  }
  .title {
    font-size: 4em;
  }

  .sub-title {
    font-size: 1.25em;
  }

  .menu-root {
    display: none;
  }
}

/* Styles for md devices */
@media only screen and (min-width: 768px) {
}

/* Styles for lg devices */
@media only screen and (min-width: 992px) {
}

/* Styles for xl devices */
@media only screen and (min-width: 1200px) {
}
